{% extends 'index.html' %}
{% load static %}
{% block title %} Cuenta {%endblock%}
{% block content %}

<style>
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .button {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type="file"] {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
</style>

<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"></div> -->
<div class="pb-5 pt-5 pt-md-5">
</div>

<div class="container-fluid mt--7 pb-8 pt-5 pt-lg-8">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <div class="upload-btn-wrapper">
              <button class="btn btn-sm btn-info mr-4">Seleccionar imagen</button>
              <input type="file" class="" id="logo-img" name="logo-img">
            </div>
            <a href="#" class="btn btn-sm btn-default float-right">Ayuda</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="card-profile-image">
            <img
              src="{% if restaurant.logo %}/media/{{ restaurant.logo }}{% else %}https://images.unsplash.com/photo-1486428128344-5413e434ad35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80{% endif %}"
              id="restaurant-logo" class="rounded-circle" width="100">
          </div>
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cuenta de <span id="restaurant_name">{{ request.user.restaurant }}</span></h3>
            </div>
            <div class="col-4 text-right">
              <a href="#" id="save_account" class="btn btn-sm btn-primary">Guardar cambios</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informacion del restaurante</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="">Usuario</label>
                    <input type="text" disabled id="" class="form-control form-control-alternative"
                      placeholder="Nombre de usuario" value="{{ request.user.username }}"
                      style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" id="email" class="form-control form-control-alternative"
                      placeholder="jesse@example.com" value="{{ request.user.email }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="name">Nombre</label>
                    <input type="text" id="name" class="form-control form-control-alternative"
                      placeholder="Nombre de restaurante" value="{{ restaurant.name }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="category">Categoria</label>
                    <input type="text" id="category" class="form-control form-control-alternative"
                      placeholder="Desayunos" value="{{ restaurant.category}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informacion de ubicacion</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="address">Direccion</label>
                    <input type="text" id="address" class="form-control form-control-alternative" placeholder="Calle #2"
                      value="{{ restaurant.address }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="city">Ciudad</label>
                    <input type="text" id="city" class="form-control form-control-alternative" placeholder="Tijuana"
                      value="{{ restaurant.city }}">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/account/account.js' %}"></script>
{% endblock %}