{% extends 'index.html' %}
{% load static %}
{% block title %} Menú {%endblock%}
{% block content %}

<style>
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type="file"] {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
</style>

<input type="text" style="display: none;" id="pk" value="{{ meals.pk }}">

<div id="page-vcard" class="content">
  <p id="success_notification" class="toast toast-top toast-small bg-green-dark ">
    <i class="fa fa-check"></i>
    Se guardaron los cambios
  </p>
  <p id="toast-3" class="toast toast-top toast-small bg-red-dark">
    <i class="fa fa-times"></i>
    Algo salio mal
  </p>
  <h4 class="uppercase bolder">Editar el Platillo "{{ meals.name }}"</h4>

  <p class="bottom-15">
    Rellena todos los campos para continuar
  </p>

  <div class="input-simple-1 has-icon input-green bottom-30">
    <strong>Required Field</strong>
    <em>Nombre</em>
    <i class="fa fa-user"></i>
    <input type="text" placeholder="" value="{{ meals.name }}" id="name" autocomplete="off" />
  </div>
  <div class="input-simple-1 has-icon input-green bottom-30">
    <strong>Required Field</strong>

    <em>Descripcion</em>

    <i class="fa fa-user"></i>
    <input type="text" value="{{ meals.description }}" placeholder="" id="description" autocomplete="off" />
  </div>
  <div class="input-simple-1 has-icon input-green bottom-30">
    <strong>Required Field</strong>

    <em>Precio</em>

    <i class="fa fa-user"></i>
    <input type="number" placeholder="" value="{{ meals.price }}" id="price" autocomplete="off" />
  </div>

  <div class="input-simple-1 has-icon input-green bottom-30">
    <strong>Required Field</strong>

    <em>Categoria</em>

    <i class="fa fa-user"></i>
    <input type="text" placeholder="" value="{{ meals.category }}" id="category" autocomplete="off" />
  </div>

  <div class="profile-gallery cc_cursor">
    <a class="default-link" data-lightbox="gallery-1" href="images/pictures/1t.jpg" alt="img">
      <img class="preload-image responsive-image polaroid-effect polaroid-effect-small" id="meal_show"
        src="{% if meals.image %}/media/{{ meals.image }}{% else %}https://images.unsplash.com/photo-1489069313310-63735a4f3010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60{% endif %}"
        data-src="{% if meals.image %}/media/{{ meals.image }}{% else %}https://images.unsplash.com/photo-1489069313310-63735a4f3010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60{% endif %}"></a>
  </div>
  <div class="upload-btn-wrapper">
    <button class="btn">Selecionar Imagen</button>
    <input type="file" id="meal_image" value="" name="meal_image" />
  </div>
  <div class="clear"></div>
  <a href="#" id="save_meal" class="button bg-green1-dark button-full button-rounded button-xs uppercase ultrabold">
    Guardar Cambios
  </a>
</div>

<script src="{% static 'js/restaurants/meals/edit_meal.js' %}" charset="utf-8"></script>
{% endblock %}
