<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> -->
  <link rel="stylesheet" href="{% static 'js/plugins/nucleo/css/nucleo.css' %}">
  <link rel="stylesheet" href="{% static 'js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/argon-dashboard.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white cc_cursor" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
        aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0 cc_pointer" href="">
        <img src="" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse cc_cursor" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search"
              aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item {{ orders_active }}">
            <a class="nav-link {{ orders_active }}" href="{% url 'restaurant_order' %}">
              <i class="ni ni-tv-2 text-primary"></i> Ordenes
            </a>
          </li>
          <li class="nav-item {{ meals_active }}">
            <a class="nav-link {{ meals_active }}" href="{% url 'restaurant_meals' %}">
              <i class="ni ni-planet text-blue"></i> Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="ni ni-pin-3 text-orange"></i> Reportes
            </a>
          </li>
          <li class="nav-item {{ account_active }}">
            <a class="nav-link {{  account_active }}" href="{% url 'restaurant_account' %}">
              <i class="ni ni-single-02 text-yellow"></i> Perfil
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="main-content">
    {% block content %}{% endblock %}
  </div>

  <!-- <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> -->
  <script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/argon-dashboard.min.js' %}"></script>
  <script src="{% static 'js/common.js' %}" charset="utf-8"></script>
  {% block js %}
  {% endblock %}
</body>

</html>