/*Style.CSS*/
/* All logos and logo sizes are edited in this CSS*/

.menu{display:none;}
.page-hider{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:999999;
    background-color:rgba(255,255,255,1);
}

.header-logo, .footer-logo{
    background-image:url(../images/logo-light.png);
}

.theme-dark .menu-logo{background-image:url(../images/logo-light.png);}
.theme-light .menu-logo{background-image:url(../images/logo-dark.png);}


.header .header-logo{background-size:47px 14px!important; width:115px;}
.footer .footer-logo{background-size:126px 38px!important; width:115px; height:40px!important;}
.menu-logo{background-size:47px 14px!important; width:115px;}
